{% extends 'base.html' %}
{% block content %}
  <div class="row">
 
    <h1>My Plan</h1>
    <h3>One step at a time</h3>
{% for user in alias %}

    <form action="{{ url_for('alias', user_id=user.user_name)}}" method="POST"  class="col s12">
  
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input name="user_name" type="text" class="validate" value="{{ user.user_name }}">
          <label for="user_name">Pseudonym (Alias)</label>
          </div>
        </div>
    </form>

{% endfor %}


​</div> 
    
    
       
     


     
      <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">
            SUBMIT <i class="material-icons right">playlist_add</i>
            </button>
      </div>
    </form>
  </div>


{% endblock %}



      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">second step forward</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">content_cut</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">avoid loneliness</label>
        </div>
      </div> -->
     




