{% extends 'base.html' %}
{% block content %}
<p>
Benefits of Journaling

Here’s a short list of the benefits experienced by starting a journal:

Journaling encourages healing from the inside out by strengthening your immune system.
Research has shown that journaling helps to speed up recovery because it increases self-knowledge and helps to get in touch with emotions, thoughts, and feelings. It is a healthy way to process daily life and to uncover patterns and underlying issues.
Developing a regular journaling practice can be more beneficial than therapy, and it is less expensive and accessible to everyone.
Journaling helps to reduce the risk of relapse, relieve stress, and increase overall mental health.
Over time, reviewing old journals will remind you of all the progress you have made and strengthen your resolve to overcome future challenges.
Writing down plans for the future and goals involves your subconscious to help make them a reality.
Journaling helps us to get in touch with our intuition, so we experience more “a-ha” moments.
Keeping a private journal ensures we can be truly honest with ourselves.  It helps to develop critical thinking skills and improve decision making.</p>
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.is_urgent}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.task_description}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.is_urgent}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.task_description}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.is_urgent}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.task_description}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.is_urgent}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.task_description}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.is_urgent}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.task_description}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.is_urgent}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.task_description}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}