{% extends 'base.html' %}
{% block content %}
<h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">HABIT OR ADDICTION - Get out of the fire</h1>
      <div class="row center">
        <h5 class="header col s12 light">To be human is to grow and accept change or wither and die</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Tell your story</a>
      </div>
      <br><br>

    </div>
  </div>