{% extends 'base.html' %}
{% block content %}
<h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">HABIT OR ADDICTION - Get out of the fire</h1>
      <div class="row center">
        <h5 class="header col s12 light">To be human is to grow and accept change or wither and die</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Tell your story</a>
      </div>
      <br><br>

    </div>
  </div>


  
   ++++++Early tests
@app.route('/')
def hello():
    return "ALL GOOD"

+++++++++ November tests testing if Flask could return anything in isolation.
We subs the results of the Mongo query with a python class containing test data. 
To see if the problem with flask or mongo . 
if flask could return the test data then the problem must be with mongo.
the result of this test was that it was returning test data fine so we knew the problem was with mongo and 
we then noticed a spelling mistake in the names of the field or attribute withiin our mongo documents 
class aliasx:
    username = 'hhh'
    password = 'uuu'

@app.route('/alias')
def alias():
    # return render_template('alias.html', alias=mongo.db.user.find())
    return render_template('alias.html', alias=mongo.db.user.find_one())
    # return render_template('alias.html', alias=aliasx())
