/* Custom Stylesheet to override Materialize files*/


/*scroll-behaviour not recognised by all browsers*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(241, 245, 250)
}

/* base.html styling */

.white-text {
	font-family: "Lato", cursive;
}

/* Responsive nav bar logo change for big and small screens using @media */
@media only screen and (max-width: 992px) {
	#bigNav {
		display: none;
	}
}

@media only screen and (min-width: 993px) {
	#smallNav {
		display: none;
	}
}

/* index.html styling */

.info-cards {
	margin-left: 2px;
	margin-right: 2px;
}

#section-top {
	padding-top: 50px;
}

#habit-name {
	height: 75px;
}

#shadow {
	text-shadow: 1px 1px 2px #000000;
}

@media only screen and (max-width: 800px) {
	#fist,
	#wok {
		display: none;
	}
}

@media only screen and (min-width: 801px) {
	#fist2,
	#wok2 {
		display: none;
	}
}

@media only screen and (min-width: 2500px) {
	#fist, fist2 {
		display: none;  
	}
}

#wok4k{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#wok5{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* 
@media only screen and (min-width: 2500px) {
	#wok {
        position: center;
	}
} */



/* my_problem.html styling */

#justify {
	text-align: justify;
}

/* add_changes.html */

#check {
	color: darkred;
	font-family: 'Permanent Marker', cursive;
}

/* changes.html */

.Tomato-text {
	color: Tomato;
}

#floral {
	background-color: Floralwhite;
}

/* gratitude_list */

#gratitudeButton {
	margin: 50px;
}

/* story_detail */

#sheep {
	position: relative;
	margin-top: 20px;
	z-index: 20;
}

.lightgrey {
	background-color: lightgrey;
}

.clear {
	margin: 0;
	padding: 0;
	color: #546e7a;
}

/* delete_edit_button.html */

#editButton {
	margin-right: 150px;
}

#adminButton {
	margin-left: 150px;
	background-color: #546e7a;
}

#deleteButton {
	margin-right: 0px;
}

.btn_small {
	height: 24px;
	width: 60px;
	line-height: 24px;
	padding: 0 0.5em;
}

/* about_us.html styling */

#editButton2 {
	margin-left: 50px;
}

#standOut {
	font-family: "Lato", cursive;
	font-weight: bold;
	font-size: 24px
}

.about-font {
	font-family: "Lato", sans-serif;
	color: black;
}

#grey {
	background-color: lightgrey;
}

#modal2 {
    font-family: "Lato", sans-serif;
	background-color: lightgrey;
}


/* Responsive remove text and buttons styling for screens <350px width */

@media only screen and (max-width: 350px) {
	#deleteButton,
	.earlyDays {
		display: none;
	}
}


.sidenav {
	background-color: lightgrey;

}
