/* Custom Stylesheet to override Materialize files*/


/*scroll-behaviour not recognised by all browsers*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(241, 245, 250)
}


/* base.html styling */

.white-text {
	font-family: "Lato", cursive;
}

@media only screen and (max-width: 992px) {
	#bigNav {
		/* border-radius: 8px; */
		display: none;
	}
}

@media only screen and (min-width: 993px) {
	#smallNav {
		/* border-radius: 8px; */
		display: none;
	}
}


/* index.html styling */

.info-cards {
	margin-left: 2px;
	margin-right: 2px;
}

#section-top {
	padding-top: 50px;
}

#habit-name {
	height: 75px;
}

#shadow {
	text-shadow: 1px 1px 2px #000000;
}

@media only screen and (max-width: 800px) {
	#fist,
	#wok {
		display: none;
	}
}

@media only screen and (min-width: 801px) {
	#fist2,
	#wok2 {
		display: none;
	}
}


/* @media only screen and (max-width: 800px) {
	#wok {
		display: none;
	}
} */


/* @media only screen and (min-width: 801px) {
	#wok2 {
		display: none;
	}
} */


/* my_problem.html styling */

#justify {
	text-align: justify;
}


/* add_changes.html */

#check {
	color: darkred;
	font-family: 'Permanent Marker', cursive;
}


/* changes.html */

.Tomato-text {
	color: Tomato;
}

#floral {
	background-color: Floralwhite;
}


/* gratitude_list */

#gratitudeButton {
	margin: 50px;
}


/* story_detail */

#sheep {
	position: relative;
	margin-top: 20px;
	z-index: 20;
}

.lightgrey {
	background-color: lightgrey;
}

.clear {
	margin: 0;
	padding: 0;
	color: darkgrey;
}


/* delete_edit_button.html */

#editButton {
	margin-right: 150px;
}

#adminButton {
	margin-left: 150px;
	background-color: #546e7a;
}

#deleteButton {
	margin-right: 0px;
}

.btn_small {
	height: 24px;
	width: 60px;
	line-height: 24px;
	padding: 0 0.5em;
}

@media only screen and (max-width: 350px) {
	#deleteButton,
	.earlyDays {
		display: none;
	}
}


/* about_us.html styling */

#editButton2 {
	margin-left: 50px;
}

#standOut {
	font-family: "Lato", cursive;
	font-weight: bold;
	font-size: 24px
}

.about-font {
	font-family: "Lato", sans-serif;
	color: black;
}

#grey {
	background-color: lightgrey;
}
}
