/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body{
     background-color: rgb(241, 245, 250)
 }

.Tomato-text {
    color:Tomato;
}

/* #rock-button {
    position: right;;
} */
.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    float: right;
}

nav ul a,
nav .brand-logo {
/*     
  color: #444444; */
  margin: 5px 15px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}


/* img
{
  width:100%;
} */

#sheep
{
position: relative;  
margin-top:20px;
border: 1px solid #f00;
z-index: 20;
color: #fff;
font-weight: bold;
}

/* .parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  } */

/* @media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
} */

/* @media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
} */

@media only screen and (max-width: 800px) {
  #fist {
    border-radius: 8px;
    display: none;
  }
}

@media only screen and (min-width: 801px) {
  #fist2 {
    border-radius: 8px;
    display: none;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#shadow {
  text-shadow: 1px 1px 2px #000000;
}