{% extends 'base.html' %}
{% block content %}
<h3>Changing habits</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for habit in habit_manager %}
        <li>
            <div class="collapsible-header">

                <div class="col s9">
                    <i class="material-icons">expand_more</i><strong>{{habit.habit_name}}</strong> - {{habit.habit_aim}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{habit.target_date}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class="col s9">
                    <i class="material-icons">expand_more</i><strong>{{habit.drinking}}</strong> - {{habit.drinking_aim}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{habit.why}}
                </span>
            </div>
            <div class="collapsible-header">

                <div class="col s9">
                    <i class="material-icons">expand_more</i><strong>{{habit.sleep}}</strong> - {{habit.sleep_aim}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{habit.sleep_why}}
                </span>
            </div>
            
        </li>
        {% endfor %}
    </ul>
{% endblock %}