{% extends 'base.html' %}
{% block content %}


<div class="container">
<div class="row">
<div class="col s12">
<h3>You did it- thank you</h3>

<h4>Your data</h4>
<h5>What happens to the details of your personal story now?</h5>
<ul>
<li>Your story once submitted remain completely anonymous.</li>
<li>Your anonymous stories are kept on a database.</li>
<li>The details in your stories will help discover what can better help treat the addiction epidemic</li>
<li>Nobody yet knows why the current treatment for addictions help the minority</li>
<li>Your story will help unravel the reason why what may help one addict could kill another.
<li>This collected data is independent and unbiased. It does not rely on funding.</li>
<li>Because the collection of this data is not for profit the outcome will not be biased in any way.</li>
<li>Costly trials to find a low cost solution are currently not being funded.</li>
<li>Your data will be collated amidst hundreds of your peers to start helping the professionals to better help us.</li>

      <div class="container">
      <a id="standOut" class="orange-text text-lighten-3" href="{{ url_for('pastProblem') }}">DIG DEEPER</a>
      </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>ok ok</p>

    </div>
    <div class="modal-footer">
      <a href="{{ url_for('pastProblem') }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <!-- Modal Trigger -->
 
 <button data-target="modal1" id="aboutButton" class="btn modal-trigger">to die for</button>



<div>
    <a href= "{{ url_for('pastProblem') }}">Soul Searching</a>
  </div>

</div>
</div>
{% endblock %}