{% extends 'base.html' %} {% block content %}
<h3>Courage to Change</h3>
<div class="row">
    <form  action="{{ url_for('insert_changes') }}" method="POST" class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">expand_more</i>
            <select id="category" name="habit">
        <option value="" disabled selected>Click here</option>
        {% for cat in categories %}
            <option value="{{cat.habit}}">{{cat.habit}}</option>
        {% endfor %}
            </select>
                <label>Choose your habit</label>
        </div>
        
            <!-- <div class="input-field col s12">
                <i class="material-icons prefix">mood_bad</i>
                <input id="habit" name="habit" type="text" class="validate">
                <label for="habit">Habit to ditch</label>
            </div> -->
            <div class="input-field col s12">
                <i class="material-icons prefix">face</i>
                <input id="alias" name="alias" type="text" class="validate">
                <label for="alias">Alias</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mood</i>
                <input id="year2" name="year2" type="text" class="validate">
                <label for="year2">Your second year of freedom</label>
            </div>
                       <!-- <div class="input-field col s12">
                <i class="material-icons prefix">mood</i>
                <input id="year2" name="year2" type="text" class="validate">
                <label for="year2">Your second year of freedom</label>
            </div> -->
            <!-- <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <input id="year3" name="year3" class="materialize-textarea"></input>
                <label for="year3">Your wildest dreams</label>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="start_date" name="start_date" type="text" class="datepicker">
                <label for="start_date">Start Date</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
            </div>
        </div> -->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Change Habit
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}