<!DOCTYPE html>
<html lang="en">
<head>
<!-- CSS  -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<title>HABIT BREAKER</title>
 <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Audiowide|Ubuntu&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://materializecss.com/dist/css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
<link rel="shortcut icon" type="image/ico" href="/static/images/logo/miniPan.png" />


</head>
<body>
 <!-- nav bar -->
 <!-- <div class="navbar-fixed"> -->
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="{{ url_for('index') }}" class="brand-logo pink-text"><img src="static/images/logo/miniPan.png"></a>
      
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="{{ url_for('myProblem') }}">Tell Your Story</a></li>
        <li><a class="white-text" href="{{ url_for('changes') }}">Recovery stories</a></li>
        <li><a class="white-text" href= "{{ url_for('add_changes') }}">Share Your Recovery</a></li>
     </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('myProblem') }}">Tell Your Story</a></li>
    <li><a href="{{ url_for('changes') }}">Recovery stories</a></li>
    <li><a href="{{ url_for('add_changes') }}">Share Your Recovery</a></li>
</ul>
</div>
   

{% block content %} {% endblock %}
  
  <footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Belief</h5>
          <p class="grey-text text-lighten-4">Professionals and well meaning help makes us more dependent as our choices become seized by their choices for us. How can anyone who does not understand that feeling of desperation really help?
            </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">SEARCH FOR CONNECTION</h5>
          <ul>
            <li><a class="white-text" href="#!">Substance problem</a></li>
            <li><a class="white-text" href="#!">Behavioural problem</a></li>
            <li><a class="white-text" href="#!">Thinking problem</a></li>
            <li><a class="white-text" href="#!">bad habits not addiction</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Recovered alcohol/drug user stories</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    
      <div class="container">
      <a class="orange-text text-lighten-3" href="{{ url_for('deleteButton') }}">ADMIN ONLY</a>
      </div>
    </div>
  </footer>


    <!--  Scripts-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://materializecss.com/bin/materialize.js"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>

    </body>
</html>



