<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    </head>
    <body>
        <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_tasks')}}" class="brand-logo">Task Manager</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                    <li><a href="{{url_for('add_task')}}">New Task</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                    <li><a href="{{url_for('add_task')}}">New Task</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>
            </div>
        </nav>
    </header>
        <h1>Recovery is possible!</h1>
        {% block content %}
        {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
        })
    
        $(document).ready(function(){
            $('select').formSelect();
        });

        $(document).ready(function(){
            $('.datepicker').datepicker();
        });
        document.getElementById("matfix").addEventListener("click", function(e) {e.stopPropagation();
        });
    </script>
    </body>
</html>

        <!-- $(document).ready(function(){
            $('.datepicker').datepicker();
         }); -->

        <!-- document.getElementById("matfix").addEventListener("click", function(e) {e.stopPropagation();
        }); -->



