{% extends 'base.html' %}
{% block content %}
<section class="container">
<h4>Recovery Stories</h4>
<h5>This is how others did it.</h5>
<h6>Shared, real experience, good and bad</h6>

  <ul class="collapsible" data-collapsible="expandable">
    {% for changes in changes %}
    <li>
        <div class="collapsible-header" style="background-color:Floralwhite;">
            <div class="task_header col s9">
                <i class="material-icons">expand_more</i> <strong>{{changes.alias}}</strong> - {{changes.habit}}

            </div>

        </div>

        <div class="collapsible-body">
            <span>
                <strong style="color:Tomato;">When did you stop?</strong>- {{changes.start_date}}
                <div>
                    <span>
                        <strong style="color:Tomato;">How did you feel in the beginning?</strong> - {{changes.feelings}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong class= "Tomato-text">How did you get through the first day? What helped?= </strong>{{changes.day1}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong></strong>{{changes.day2}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong></strong>{{changes.day3}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>How did you manage the cravings in the first week?</strong>{{changes.week1}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>What ingredients and tools helped you get through the second week?</strong>{{changes.week2}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Did you feel better or worse by the third week?</strong>{{changes.week3}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>After one month which thoughts, actions and places felt you cope?</strong>{{changes.month1}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>At the end of the second month did you change your job, friendships, place of work/home?</strong>{{changes.month2}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>At the end of the third month did you start to feel any benefits?</strong>{{changes.month3}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>How was your first year's journey after breaking free?</strong>{{changes.year1}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Did you feel free and had you life changed end of year 2?</strong>{{changes.year2}}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Was life beyond your wildest dream by the end of year three or harder?</strong>{{changes.year3}}
                    </span>
                </div>
            </span>
        </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
