{% extends 'base.html' %} {% block content %}




<h3>Edit Changes</h3>
<div class="row">
    <form action="{{ url_for('update_changes', changes_id=changes._id) }}" method="POST" class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">expand_more</i>
            <select id="habit" name="habit" required>
                
            <option value="" disabled selected>Click here</option>
            {% for cat in categories %}
                {% if cat.habit == changes.habit%}
            <option value= "{{cat.habit}}" selected>{{cat.habit}}</option>
                {% else%}
                <option value="{{cat.habit}}">{{cat.habit}}</option>
                {% endif %}
            {% endfor %}
            </select>
                <label>Choose your habit</label>
        </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">face</i>
                <input id="alias" name="alias" type="text" class="validate" maxlength="15">
                <label for="alias">Alias - No need for real names.</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="start_date" name="start_date" type="text" class="datepicker">
                <label for="start_date">Start Date- When did you stop?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mood</i>
                <input id="whyStop" name="whyStop" type="text" class="validate"></input> 
                <label for="whyStop">What motivated you to stop?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">favorite</i>
                <input id="whoStop" name="whoStop" type="text" class="validate"></input> 
                <label for="whoStop">Who did you stop for?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_emoticon</i>
                <input id="feelings" name="feelings" type="text" class="validate"></input> 
                <label for="feelings">How did you feel at the beginning?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">star</i>
                <textarea id="recipe" name="recipe" type="textarea" class="active"></textarea> 
                <label for="recipe">Recovery Recipe. Your method.</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">music_note</i>
                <input id="ingredients" name="ingredients" type="text" class="validate"></input> 
                <label for="ingredients">Ingredients? Music/sleep/company?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">loyalty</i>
                <input id="dayToDay" name="dayToDay" type="text" class="validate">
                <label for="dayToDay">Day to day routine changes?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">nature_people</i>
                <input id="day1" name="day1" type="text" class="validate">
                <label for="day1">Day 1. Thoughts, feelings and action</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">face</i>
                <input id="day2" name="day2" type="text" class="validate">
                <label for="day2">Day 2. What helped? What did you do?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mood</i>
                <input id="day3" name="day3" type="text" class="validate">
                <label for="day3">Day 3? How was the withdrawal?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">near_me</i>
                <input id="week1" name="week1" type="text" class="validate">
                <label for="week1">Week 1? How were the cravings</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">nature_people</i>
                <input id="week2" name="week2" type="text" class="validate">
                <label for="week2">Week 2. What tools did you use?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mood_bad</i>
                <input id="week3" name="week3" type="text" class="validate">
                <label for="week3">Week 3. Feeling better or worse?</label>
            </div>
                        <div class="input-field col s12">
                <i class="material-icons prefix">panorama</i>
                <input id="month1" name="month1" type="text" class="validate">
                <label for="month1">Month 1. Safest actions and places?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">wb_sunny</i>
                <input id="month2" name="month2" type="text" class="validate">
                <label for="month2">Month 2. Any big changes? Job, home?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">note_add</i>
                <input id="month3" name="month3" type="text" class="validate">
                <label for="month3">Month 3. What benefits did you feel?</label>
            <div class="input-field col s12">
                <i class="material-icons prefix">power</i>
                <input id="year1" name="year1" type="text" class="validate">
                <label for="year1">Year 1 summary</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">public</i>
                <input id="year2" name="year2" type="text" class="validate">
                <label for="year2">Year 2 summary?</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">palette</i>
                <textarea id="year3" name="year3" type="textarea" class="validate"></textarea>
                <label for="year3">Year 3. living your wildest dream or harder?</label>
            </div>
        </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Update Habit
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}