{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for firstSteps in firstSteps %}
        <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{firstSteps.belief1}}</strong> - {{firstSteps.belief2}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{firstSteps.belief3}}
                    {{firstSteps.belief4}}
                    {{firstSteps.belief5}}
                    {{firstSteps.belief6}}
                    {{firstSteps.belief7}}
                    {{firstSteps.belief8}}
                    {{firstSteps.belief9}}
                    {{firstSteps.belief10}}
                    {{firstSteps.belief11}}
                    {{firstSteps.belief12}}
                </span>
                
            </div>
            <div class="collapsible-body">
                <span>
                    {{firstSteps.belief3}}
                    {{firstSteps.belief4}}
                    {{firstSteps.belief5}}
                    {{firstSteps.belief6}}
                    {{firstSteps.belief7}}
                    {{firstSteps.belief8}}
                    {{firstSteps.belief9}}
                    {{firstSteps.belief10}}
                    {{firstSteps.belief11}}
                    {{firstSteps.belief12}}
                </span>
                
            </div>
        <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{firstSteps.belief1}}</strong> - {{firstSteps.belief2}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{firstSteps.belief3}}
                    {{firstSteps.belief4}}
                    {{firstSteps.belief5}}
                    {{firstSteps.belief6}}
                    {{firstSteps.belief7}}
                    {{firstSteps.belief8}}
                    {{firstSteps.belief9}}
                    {{firstSteps.belief10}}
                    {{firstSteps.belief11}}
                    {{firstSteps.belief12}}
                </span>
                
            </div>
            <div class="collapsible-body">
                <span>
                    {{firstSteps.belief3}}
                    {{firstSteps.belief4}}
                    {{firstSteps.belief5}}
                    {{firstSteps.belief6}}
                    {{firstSteps.belief7}}
                    {{firstSteps.belief8}}
                    {{firstSteps.belief9}}
                    {{firstSteps.belief10}}
                    {{firstSteps.belief11}}
                    {{firstSteps.belief12}}
                </span>
                
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

