{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for firstSteps in firstSteps %}
        <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{firstSteps.belief1}}</strong> - {{firstSteps.belief5}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{firstSteps.belief3}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
{% extends 'base.html' %}
{% block content %}
        {% for firstSteps in firstSteps %}
        {{firstSteps.belief1}}
        {{firstSteps.belief2}}
        {{firstSteps.belief3}}
        {{firstSteps.belief4}}
        {{firstSteps.belief5}}
        {% endfor %}


  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
   
{% endblock %}
