{% extends 'base.html' %} {% block content %}

<h2>Write It by Hand</h2>
<p>Despite relying on technology for much of your work and personal life, keep things old school with your daily gratitude journal. This means grabbing a pen or pencil and writing things down by hand, on paper. There's something about the kinetic process of noting it in scripture that makes you approach your list with thoughtfulness and awareness. When you feel each and every word being written down on paper, it connects you to that sentiment. Try it and see.</p>
    <h4>Writing a gratitude list</h4>
<h3>"I have a place to sleep."</h3>
<h3>"I ate today."</h3>
<h3>"I have a good heart."</h3>
<h3>"I drink clean water."</h3>
<h3>"I strive to be better."</h3>
<h3>"I wish others well."</h3>
<h3>"I am a good person."</h3>
<h3>"I have nice clothes."</h3>
<h3>"I am breathing."</h3>
<h3>"Someone cares for me."</h3>

Something that made you smile today

Something funny that made you laugh

Your favorite thing when you wake up in the morning

Something you are good at doing

What did you enjoy the most today?

A favorite place you like to visit

An act of kindness someone showed you

A book you are grateful for reading

What weather are you grateful for today?

Modern inventions you are thankful for

Something you take for granted

Favorite things you like about your job or work

Something you learned about recently

Someone who made a positive difference in your life

A favorite activity you enjoy doing

Day of the week – What’s your favorite thing about Mondays? Fridays? The Weekend?

Favorite websites you are grateful for

Something that makes your life easier

A favorite food you enjoy

Something you use every single day

Something you appreciate in nature

Something you wear that makes you feel good {clothes, jewelry, makeup, etc.}

Something that keeps you warm

Something that helps you relax

A favorite song you love

Travel – what are you grateful for about transportation or places you have traveled to?

A recent “small success” – from getting out of bed in the morning to remembering to do something you might usually forget

Something that cheers you up on a rough day

Basic skills you learned as a child, such as learning how to tie your shoes or how to read/write

Technology you use every single day

Something that helps keep you healthy

Someone who inspires you

Something that was a wish come true

Favorite things about this season {winter, spring, summer, fall}

Holidays you are thankful for

What you are grateful about your home

A difficult experience that you learned from

A good experience with customer service

The best thing that happened this week

A favorite quote or saying that makes you happy

Something you recently accomplished

Something that makes you unique

Something in your community that you are thankful for

https://www.shutterfly.com/ideas/gratitude-quotes/

https://www.mydomaine.com/morning-rituals

{% endblock %}



Previous Topic | Next Topic

No one possesses all of the characteristics of good mental health all of the time.Characteristics of Mental Health
Mental health is more than just the absence of mental illness. It includes how you feel about yourself and how you adjust to life events. However, the National Mental Health Association cites 10 characteristics of people who are mentally healthy.

They feel good about themselves.
They do not become overwhelmed by emotions, such as fear, anger, love, jealousy, guilt, or anxiety.
They have lasting and satisfying personal relationships.
They feel comfortable with other people.
They can laugh at themselves and with others.
They have respect for themselves and for others even if there are differences.
They are able to accept life’s disappointments.
They can meet life’s demands and handle their problems when they arise.
They make their own decisions.
They shape their environment whenever possible and adjust to it when necessary.