{% extends 'base.html' %} {% block content %}
 <!--   Gratitude List text content   -->
<section class="container">
   <h3>Write It by Hand</h3>
   <p>Despite relying on technology for so much, keep things old school with your daily gratitude list and journal. This means grabbing a pen or pencil and writing things down by hand, on paper. There's something about the kinetic process of noting it in scripture that makes you approach your list with thoughtfulness and awareness. When you feel each and every word being written down on paper, it connects you to that sentiment. Try it and see.</p>
   <h4>Writing a gratitude list</h4>
   "I have a place to sleep." <br>
   "I ate today."<br>
   "I have a good heart."<br>
   "I drink clean water."<br>
   "I strive to be better."<br>
   "I wish others well."<br>
   "I am a good person."<br>
   "I have nice clothes."<br>
   "I am breathing."<br>
   "Someone cares for me."<br>
   "Something made me smile today"<br>
   "Something funny that made me laugh"<br>
   <h4>Think about more</h4>
   "Your favorite thing when you wake up in the morning"<br>
   "Something you are good at doing"<br>
   "What did you enjoy the most today?"<br>
   "A favorite place you like to visit"<br>
   "An act of kindness someone showed you"<br>
   "A book you are grateful for reading"<br>
   "What weather are you grateful for today?"<br>
   "Modern inventions you are thankful for"<br>
   "Something you take for granted"<br>
   "Favorite things you like about your job or work"<br>
   "Something you learned about recently"<br>
   "Someone who made a positive difference in your life"<br>
   "A favorite activity you enjoy doing"<br>
   "Day of the week – What’s your favorite thing about Mondays? Fridays? The Weekend?"<br>
   "Favorite websites you are grateful for"<br>
   "Something that makes your life easier"<br>
   "A favorite food you enjoy"<br>
   "Something you use every single day"<br>
   "Something you appreciate in nature"<br>
   "Something you wear that makes you feel good {clothes, jewelry, makeup, etc.} "<br>
   "Something that keeps you warm"<br>
   "Something that helps you relax"<br>
   "A favorite song you love"<br>
   "Travel – what are you grateful for about transportation or places you have traveled to?"<br>
   "A recent “small success” – from getting out of bed in the morning to remembering to do something you might usually forget"<br>
   "Something that cheers you up on a rough day"<br>
   "Basic skills you learned as a child, such as learning how to tie your shoes or how to read/write"<br>
   "Technology you use every single day"<br>
   "Something that helps keep you healthy"<br>
   "Someone who inspires you"<br>
   "Something that was a wish come true"<br>
   "Favorite things about this season {winter, spring, summer, fall}"<br>
   "Holidays you are thankful for"<br>
   "What you are grateful about your home"<br>
   "A difficult experience that you learned from"<br>
   "A good experience with customer service"<br>
   "The best thing that happened this week"<br>
   "A favorite quote or saying that makes you happy"<br>
   "Something you recently accomplished"<br>
   "Something that makes you unique"<br>
   "Something in your community that you are thankful for"<br>
   <div id="gratitudeButton" class="btn-right center-align">
      <a href="https://tinybuddha.com/blog/60-things-to-be-grateful-for-in-life/" target="_blank" class="waves-effect waves-light btn btn-style"><i class="material-icons left i-made-it-icon">favorite</i>60 things to be grateful for</a>
   </div>
</section>
{% endblock %}