{% extends 'base.html' %}
{% block content %}

        <div class="input-field col s12">
            <!-- <select name=""> -->
                <!-- <option value="" disabled selected>***</option> -->
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
            </select>
            <!-- <label>***</label> -->
        </div>

                <option value="7"></option>
                <option value="8"></option>
                <option value="9"></option>
                <option value="10"></option>
                <option value="11"></option>
                <option value="12"></option>
                <option value="13"></option>
                
                
                
                <option value="14"></option>
                <option value="15"></option>
                <option value="16"></option>
                <option value="17"></option>
                <option value="18"></option>
                <option value="19"></option>



        <div class="input-field col s12">
            <!-- <select name=""> -->
                <!-- <option value="" disabled selected>***</option> -->
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
            </select>
            <!-- <label>***</label> -->
        </div>

        <div class="input-field col s12">
            <!-- <select name=""> -->
                <!-- <option value="" disabled selected>***</option> -->
                <option value="1">True</option>
                <option value="2">False</option>
                <option value="3">Not sure</option>
                <option value="4">Varies</option>
                <option value="5"></option>
                <option value="6"></option>
            </select>
            <!-- <label>***</label> -->
        </div>


        <div class="input-field col s12">
            <!-- <select name=""> -->
                <!-- <option value="" disabled selected>***</option> -->
                <option value="1">Before 5 years</option>
                <option value="2">5-7 years</option>
                <option value="3">7-10 years</option>
                <option value="4">Pre-Teen (11-12years)</option>
                <option value="5">Early Teens (13-14 Years)</option>
                <option value="6">15-16 years</option>
                <option value="7">17-18 years</option>
                <option value="8">19-20 years</option>
                <option value="9">21-24 years</option>
                <option value="10">25-30 years</option>
                <option value="11">31-35 Years</option>
                <option value="12">36-40 years</option>
                <option value="13">41-45 Years</option>
                <option value="14">46-50 years</option>
                <option value="15">51-60 years</option>
                <option value="16">Over 60 years</option>
            </select>
            <!-- <label>***</label> -->
        </div>

{% endblock %}



        
