
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>HABIT OR ADDICTION - Grow through it</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://materializecss.com/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Human Connection</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Human Connection</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">HABIT OR ADDICTION - Get out of the fire</h1>
      <div class="row center">
        <h5 class="header col s12 light">To be human is to grow and accept change or wither and die</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Tell your story</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Burnt out?</h5>

            <p class="light">Lack of support and direction or family/socialies pressure to be soemthing we are not can literally fry our brains. Nerve pathways that fire togther will wire together. In order to stop behaviours or substance abuse that is shrinking our lives in a pattern or self destruction can feel like a one way track. IT IS NOT. Millions of people have walked through the pain and withdrawal and reclaimed their lives.  </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">You are not the only one</h5>

            <p class="light">When the feelings in our day to day lives become too much we naturally seek escape. Depending on our personal experiences and connections we opt for many different ways to cope. If we become reliant on these strategies what initally gave us relief will get a grip of our lives and take over. Mental and physical health will begin to suffer and eveuntually nothing else will matter. All our potential evaporates and we start to feel lost and alone.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Who else walked in your shoes</h5>

            <p class="light">Seeking help from people who do not share out experience may not fill the void. Once you fill out a simple and anonymous form and submit it, you will be shown other stories that relate to your own. 
            The idea being that an alcohol dependent mother of three , who is also bulemic and suffering flash backs from abuse is likely to use different startegies to break her habits than a gambling addict you only feels alive in the casino.
            Different stories need different healing. 
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Belief</h5>
          <p class="grey-text text-lighten-4">Professionals and well meaning help makes us more dependent as our choices become seized by their choices for us. How can anyone who does not understand that feeling of desperation really help?
            </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">SEARCH FOR CONNECTION</h5>
          <ul>
            <li><a class="white-text" href="#!">Substance problem</a></li>
            <li><a class="white-text" href="#!">Behavioural problem</a></li>
            <li><a class="white-text" href="#!">Thinking problem</a></li>
            <li><a class="white-text" href="#!">bad habits not addiction</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Recovered alcohol/drug user stories</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://materializecss.com/bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
