
{% extends 'base.html' %}
{% block content %}
<!-- Eye catching header -->
<section>
<div class="row">
    <div class="col s12">
        <div class="card-title">
            <!-- <h5><strong>Waking up to the truth and seeing the reality of your life is when change becomes possible.</strong></h5> -->
        </div>
        <div class="card hoverable">
            <div class="card-image">
                <img src="static/images/FryingPan.png" alt="Recovery Wok" style="width:100%;height:100%;">
               
            </div>
            <div class="card-action">
                <h3>Recipes for Recovery</h3>
                <a href="https://www.healthline.com/health/addiction/recognizing-addiction#early-signs" target="_blank">Recognising an Addiction Problem</a>
            </div>
        </div>
    </div>
</div>

<!-- Letting go image of burning hand and text Version for Desktop-->
    <div class="row">
        <!-- <div class="col s12 m6"> -->
            <!-- <img src="static/images/resentment.jpg"> -->
            <div class="col s12 m12 blue-grey-text">
                <h3 class="header">Managing emotions is key</h3>
                <div id="fist" class="card horizontal">
                    <div class="card-image">
                        <img class="responsive-img" src="static/images/resentment.jpg" alt="Burning Fist">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4>Drop the hot coal</h4>
                            <h5>Feeling Anger, Blame and Resentment all scorch you from the inside. <br>"Pain is inevitable but suffering is a choice"</h5>
                        </div>
                        <div class="card-action">
                            <a href="https://dontjudgeyourlife.com/2016/10/07/resentment-how-it-destroys-your-mind-and-body-and-how-to-fix-it/" target="_blank">Ruminating and holding on to bad thoughts can retraumatize you and ruin your health </a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
    <!-- Letting go image of burning hand and text Version for mobiles-->
<div class="row">
    <div class="col s12 m12">
      <div id='fist2' class="card">
        <div class="card-image">
          <img src="static/images/resentment.jpg"  alt="Burning Fist">
          <span class="card-title"><h4>Drop the hot coal</h4></span>
        </div>
        <div class="card-content">
            <h5>Feeling Anger, Blame and Resentment all scorch you from the inside. <br>"Pain is inevitable but suffering is a choice"</h5>
        </div>
        <div class="card-action">
          <a href="https://dontjudgeyourlife.com/2016/10/07/resentment-how-it-destroys-your-mind-and-body-and-how-to-fix-it/" target="_blank">Ruminating and holding on to bad thoughts can retraumatize you and ruin your health</a>
        </div>
      </div>
    </div>
</div>

</section>

    <!-- </div>
  </div> -->

<!-- search section probably not necessary using filters instead -->
<!-- <div class="row tp-search">
    <div class="col hide-item-medium l3">
        <span class="v-align site-logo"><i class="small material-icons nav-icon">we_do_recover</i>Recovery Recipe</span>
    </div>
    <div class="col s12 m12">
        <form action="/search" class="search-form">
            <div class="input-field col s12">
                <i class="material-icons prefix">youtube_searched_for</i>
                <input type="text" id="db_query" name="db_query" placeholder="Search">
                <button class="btn waves-effect waves-light search-btn" type="submit">GO<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div> -->
<!-- </div> -->
          
<!-- Filter stories section -->

<main class="row" style="background-color:lightgrey;">
    <div class="col s12 m3 hide-on-small-only">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header">Bad Habits<i class="material-icons dropdown-icon">arrow_drop_down</i></div>
                <div class="collapsible-body">
                    <form action="{{ url_for('changes') }}" method="POST"> <!-- eventually should be url for 'filter' when working -->
                        <div class="input-field col s12">
                            <select id="habit" name="habit">
                        <option value="" disabled selected>Choose your habit</option>
                        {% for cat in categories %}
                            <option value="{{cat.habit}}">{{cat.habit}}</option>
                        {% endfor %}
                            </select>
                        </div>

                        <button class="btn waves-effect waves-light filter-btn" type="submit">So they say</button>
                    </form>
                    
                    
                    

                </div>
            </li>
        </ul>


    </div>
<!-- tell your story banner and button linking to Myproblem -->
    <div class="col s12 m8 l9">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h4 class="header center blue-grey-text">HABIT OR ADDICTION <br>Battered and bruised- Leave the fight. <br>Burnt- Get out of the fire</h4>
                    <div class="row center">
                        <h5 class="header col s12 light">To be human is to grow and accept change or wither and die</h5>
                    </div>
                        <div class="row center">
                            <a href="{{ url_for('myProblem') }}" id="download-button" class="btn-large waves-effect waves-light orange">Tell your story</a>
                        </div>
                    </div>
            </div>
        </div>

</main>
<!-- Lots of recovery stories stored in MongoDB -->

    <div class="container">
    <div class="row">


    <div class="row">
        <div class="col s12">
            <div class="heading-block">
                <h3 class="center blue-grey-text">Learning from others</h3>
                <h4 class="center blue-grey-text">Monkey see, Monkey do</h4>
                <h5 class="center">Open your mind as wide as it will go</h5>
        {% for changes in changes %}
        <div class="col s12 m3">
            <div class="card hoverable" style="width:100% ;height:335px;">
                <div class="card-image">
                    <img src="static/images/{{ changes.habit }}.jpg">
                    <div id="shadow" class="card-title">
                        <span>{{changes.alias}}</span>
                    </div>
                </div>
                <div class="card-content">
                    <p>{{changes.habit}}</p>
                </div>
                <div class="card-action">
                    <a href="{{url_for('storyDetail', changes_id=changes._id)}}">View Story</a>
                </div>
            </div>
        </div>
        {% endfor %}

            
        </div>



      </div>

    </div>

       </div>

    </div>
</div>

<!-- links and negative feelings awareness -->

<section style="background-color:lightgrey;">
    <div class="container">
        <h4>Untwisting thinking</h4>
        <h5>Feelings that risk relapse</h5>
    </div>
        <!-- <h6>Frustration</h6> -->
                  <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Like teaching a pig to sing</span>
                        <p>You get frustrated and the pig gets frustrated.</p>
                    </div>
                <div class="card-action">
                   <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>

                      <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">On using different drugs to manage the problem</span>
                        <p>Changing drugs is like changing rooms on the titanic.</p>
                    </div>
                <div class="card-action">
                   <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>

                      <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Terminal Uniqueness</span>
                        <p>The belief that we are special and different, often leading to isolation and death.</p>
                    </div>
                <div class="card-action">
                   <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>

                      <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">BUT BUT BUT</span>
                        <p>Everything you say before the BUT is nonsense.</p>
                    </div>
                <div class="card-action">
                   <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>

        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Human being or Human doing?</span>
                        <p>Running running running- where the ???? to?.</p>
                    </div>
                <div class="card-action">
                   <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Relationships</span>
                        <p>After my 7th divorce, I realised I may be part of the problem.</p>
                    </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Like teaching a pig to sing</span>
                        <p>You get frustrated and the pig gets frustrated.</p>
                    </div>
                <div class="card-action">
                   <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
    
  </div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p>
     <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Like teaching a pig to sing</span>
          <p>You get frustrated and the pig gets frustrated.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p>
     <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Like teaching a pig to sing</span>
          <p>You get frustrated and the pig gets frustrated.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div></div> -->
  </div>
  </div>
  </div>
</section>

   <!-- <div class="row">

      <div class="col s4">
      
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Like teaching a pig to sing</span>
          <p>You get frustrated and the pig gets frustrated.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
        Promo Content 1 goes here
      </div>
      <div class="col s4">

  
        
      </div>
      <div class="col s4">

      
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Monkey see, Monkey do</span>
          <p>Monkey Wee, Monkey Poo- Like listening to a road sign.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div> -->
  <!-- </div>
    
      </div>

    </div>
    <div class="col s12 m9">

    <div class="row">
    <div class="col s12 m3">
      <div class="card blue-grey darken-1">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content  white-text">
          <p style="text-align:center;"> I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-9">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div> -->
      
    <div class="col s12 m9">    
 

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Frazzled?</h5>

            <p class="light">Lack of support and direction or family/socialies pressure to be soemthing we are not can literally fry our brains. Nerve pathways that fire togther will wire together. In order to stop behaviours or substance abuse that is shrinking our lives in a pattern or self destruction can feel like a one way track. IT IS NOT. Millions of people have walked through the pain and withdrawal and reclaimed their lives.  </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">You are not the only one</h5>

            <p class="light">When the feelings in our day to day lives become too much we naturally seek escape. Depending on our personal experiences and connections we opt for many different ways to cope. If we become reliant on these strategies what initally gave us relief will get a grip of our lives and take over. Mental and physical health will begin to suffer and eveuntually nothing else will matter. All our potential evaporates and we start to feel lost and alone.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Who else walked in your shoes</h5>

            <p class="light">Seeking help from people who do not share out experience may not fill the void. Once you fill out a simple and anonymous form and submit it, you will be shown other stories that relate to your own. 
            The idea being that an alcohol dependent mother of three , who is also bulemic and suffering flash backs from abuse is likely to use different startegies to break her habits than a gambling addict you only feels alive in the casino.
            Different stories need different healing. 
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
<!-- <a class="waves-effect waves-light btn-large">Button</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn-large blue"><i class="material-icons right">cloud</i>button</a> -->


        <div class="col s12 m2">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="static/images/WordArtSquare.jpg">
                    
                </div>
                <div class="card-title">
                    <span><strong>Find the Courage change.</strong> Start by replacing negative thinking with an image of yourself next year. Maybe free, laughing and happy</span>
                </div>
                <div class="card-action">
                    <a href="https://www.smartrecovery.org/smart-articles/core-beliefs/">Morph the outdated beliefs about yourself, the world and others</a>
            </div>
        </div>

<!-- <main class="row" style="background-color:lightgrey;">
    <div class="col s12 m3 hide-on-small-only">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header">Bad Habits<i class="material-icons dropdown-icon">arrow_drop_down</i></div>
                <div class="collapsible-body"> -->
                    <form action="{{ url_for('changes') }}" method="POST"> <!-- eventually should be url for 'filter' when working -->
                        <div class="input-field col s12">
                            <select id="habit" name="habit">
                        <option value="" disabled selected>Choose your habit</option>
                        {% for cat in categories %}
                            <option value="{{cat.habit}}">{{cat.habit}}</option>
                        {% endfor %}
                            </select>
                        </div>

                        <button class="btn waves-effect waves-light filter-btn" type="submit">So they say</button>
                    </form>

        
  {% endblock %}