
{% extends 'base.html' %}
{% block content %}



<header>
<!-- Concept of recovery recipe image with text and external link. Version for Desktop-->
    <div class="row">
        <div class="col s12 m12 blue-grey-text">
            <h3 class="header center-align">Recipes for Recovery</h3>
            <div id="wok" class="card horizontal">
                <div class="card-image">
                    <img class="responsive-img" src="static/images/FryingPan.png" alt="Recovery Wok">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>Word of Mouth</h4>
                        <h5>No one understands better than someone else who walked in your shoes.<br>Practical ideas from people who walked the walk, not just talked the talk.<br>Proven ingredients and methods that work.</h5>
                    </div>
                    <div class="card-action">
                        <a href="https://www.healthline.com/health/addiction/recognizing-addiction#early-signs" target="_blank">Recognising if you have an Addiction Problem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Concept of recovery recipe image with text and external link. Version for Mobiles-->
    <div class="row">
        <div class="col s12 blue-grey-text">
            <div id="wok2" class="card hoverable">
                <div class="card-image">
                    <img src="static/images/FryingPan.png" alt="Recovery Wok" style="width:100%;height:100%;">
                <!-- <span class="card-title"><h4>Word of Mouth</h4></span> -->
                </div>
                <div class="card-content">
                    <h4>Word of Mouth</h4>
                    <h5>No one understands better than someone else who walked in your shoes.<br>Practical ideas from people who walked the walk, not just talked the talk.<br>Proven ingredients and methods that work.</h5>
                </div>
                <div class="card-action">
                <!-- <h3>Recipes for Recovery</h3> -->
                    <a href="https://www.healthline.com/health/addiction/recognizing-addiction#early-signs" target="_blank">Recognising if you have an Addiction Problem</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
<!--Section with image of burning hand and text. Version for Desktop-->
    <div class="row">
        <div class="col s12 m12 blue-grey-text">
            <h3 class="header center-align">Managing emotions is key</h3>
            <div id="fist" class="card horizontal">
                <div class="card-image">
                    <img class="responsive-img" src="static/images/Resentment.jpg" alt="Burning Fist">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>Drop the hot coal</h4>
                        <h5>Feeling Anger, Blame and Resentment all scorch you from the inside. <br>"Pain is inevitable but suffering is a choice"</h5>
                    </div>
                    <div class="card-action">
                        <a href="https://dontjudgeyourlife.com/2016/10/07/resentment-how-it-destroys-your-mind-and-body-and-how-to-fix-it/" target="_blank">Ruminating and holding on to bad thoughts can retraumatize you and ruin your health </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Section with image of burning hand and text. Version for Mobiles-->
    <div class="row">
        <div class="col s12 m12 blue-grey-text">
            <div id='fist2' class="card">
                <div class="card-image">
                    <img src="static/images/Resentment.jpg"  alt="Burning Fist">
                    <span class="card-title">Drop the hot coal</span>
                </div>
                <div class="card-content">
                    <h5>Feeling Anger, Blame and Resentment all scorch you from the inside. <br>"Pain is inevitable but suffering is a choice"</h5>
                </div>
                <div class="card-action">
                    <a href="https://dontjudgeyourlife.com/2016/10/07/resentment-how-it-destroys-your-mind-and-body-and-how-to-fix-it/" target="_blank">Ruminating and holding on to bad thoughts can retraumatize you and ruin your health</a>
                </div>
            </div>
        </div>
    </div>
</section>
        
<!-- main section with recovery stories. Filter dropdown option to select relevant stories . Tell you story button invite. -->
<main class="container">
    <section class="row" style="background-color:lightgrey;">
        <div class="col s12 m4">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">How have others stopped?
                        <i class="material-icons dropdown-icon">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body">
                        <form action="{{ url_for('changes') }}" method="POST"> 
                            <div class="input-field col s12">
                                <select id="habit" name="habit">
                                    <option value="" disabled selected>Your poison</option>
                                    {% for cat in categories %}    
                                    <option value="{{cat.habit}}">{{cat.habit}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn waves-effect waves-light filter-btn" type="submit" >Filter Recovery Recipes</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
<!-- tell your story banner and button linking to Tell you story (links to my_problem form and database) -->
        <div class="col s12 m8">
            <div class="section no-pad-bot"x-banner">
                <div class="container">
                    <h4 class="header center blue-grey-text">HABIT OR ADDICTION <br>Battered and bruised- Leave the fight. <br>Burnt- Get out of the fire</h4>
                    <div class="row center">
                        <h5 class="header col s12 light">To be human is to grow and accept change or wither and die</h5>
                    </div>
                    <div class="row center">
                        <a href="{{ url_for('my_problem') }}" id="download-button" class="btn-large waves-effect waves-light orange">Tell your story</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Lots of recovery stories stored in MongoDB presented in cards-->

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="heading-block">
                <h3 class="center blue-grey-text">Learning from others</h3>
                <h4 class="center blue-grey-text">Monkey see, Monkey do</h4>
                <h5 class="center">Open your mind as wide as it will go</h5>
                {% for changes in changes %}
                <div class="col s6 m3">
                    <div class="card hoverable" style="width:100%; height:335px;">
                        <div class="card-image">
                            <img src="static/images/{{ changes.habit }}.jpg" alt="Habit Picture">
                            <div id="shadow" class="card-title">
                                <span>{{changes.alias}}</span>
                            </div>
                        </div>
                        <div class="card-content">
                            <p>{{changes.habit}}</p>
                        </div>
                        <div class="card-action">
                            <!-- <a href="{{ url_for('index') }}" class="brand-logo pink-text"><img src="static/images/logo/miniPan.png"></a> -->
                            <a href="{{url_for('story_detail', changes_id=changes._id)}}">View Story</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
                <!-- <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul> -->

    </div>
</div>

<!-- Basic Materialize grey card section with links and informative quotes -->
<section style="background-color:lightgrey;">
    <div class="container">
        <h4>Untwisting thinking</h4>
        <h5>Feelings that risk relapse</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Like teaching a pig to sing</span>
                    <p>You get frustrated and the pig gets frustrated.</p>
                </div>
                <div class="card-action">
                    <a href="http://smartrecoverybc.com/index.php/resources/addiction-articles-and-essays/rational-thinking/irrationalities-related-to-low-frustration-tolerance-lft.html" target="_blank">Low Frustration tolerance</a>
                    <a href="https://lakehouserecoverycenter.com/blog/your-level-of-stress-tolerance-may-indicate-a-vulnerability-to-addiction/" target="_blank">Stress tolerance and addiction</a>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Changing drugs is like changing rooms on the titanic.</span>
                    <p>Different Drugs rarely manage the problem</p>
                </div>
                <div class="card-action">
                    <a href="https://americanaddictioncenters.org/polysubstance-abuse" target="_blank">Polysubstance abuse</a>
                    <a href="https://www.addictioncenter.com/community/addiction-replacement/" target="_blank">Swapping addictions</a>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Terminal Uniqueness</span>
                    <p>The belief that we are special and different, often leading to isolation and death.</p>
                </div>
                <div class="card-action">
                    <a href="https://www.psychologytoday.com/gb/blog/communication-success/201608/8-common-narcissist-lies" target="_blank">Narcissism</a>
                    <a href="https://www.banyanpompano.com/2014/08/27/terminal-uniqueness/" target="_blank">Teminal Uniqueness</a>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">BUT BUT BUT</span>
                    <p>Everything you say before the BUT is BS.</p>
                </div>
                <div class="card-action">
                    <a href="https://cassioburycourt.com/2019/09/the-top-5-excuses-for-not-getting-your-addiction-treated/" target="_blank">Excuses we use</a>
                    <a href="https://www.rehabs.com/blog/7-excuses-we-use-to-avoid-treatment/" target="_blank">More excuses</a>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Women respond differently</span>
                    <p>Women are more likely to die from addiction than men.</p>
                </div>
                <div class="card-action">
                    <a href="https://www.drugabuse.gov/publications/drugfacts/substance-use-in-women" target="_blank">Women and addiction</a>
                    <a href="https://www.addictioncenter.com/addiction/differences-men-women/" target="_blank">The sex differences</a>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Relationships</span>
                    <p>After my 7th divorce, I realised I may be part of the problem.</p>
                </div>
                <div class="card-action">
                    <a href="https://www.vice.com/en_au/article/qvvqmv/the-destructive-allure-of-hooking-up-in-rehab" target="_blank">Hooking up in rehab</a>
                    <a href="https://www.slaauk.org/recovery/stories/" target="_blank">Sex and Love addicts recovery stories</a>
                </div>
            </div>
        </div>
    </div>

    

    <!--   Icon Section   -->
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Frazzled?</h5>
                    <p class="light">Lack of support and direction or family/socialies pressure to be soemthing we are
                    not can literally fry our brains. Nerve pathways that fire togther will wire together. In order to stop behaviours or substance abuse that is shrinking our lives in a pattern or self destruction can feel like a one way track. IT IS NOT. Millions of people have walked through the pain and withdrawal and reclaimed their lives.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">You are not Alone</h5>
                    <p class="light">When the feelings in our day to day lives become too much we naturally seek escape. Depending on our personal experiences and connections we opt for many different ways to cope. If we become reliant on these strategies what initally gave us relief will get a grip of our lives and take over. Mental and physical health will begin to suffer and eveuntually nothing else will matter. All our potential evaporates and we start to feel lost and alone.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Who feels like me?</h5>
                    <p class="light">Seeking help from people who do not share out experience may not fill the void. Once you fill out a simple and anonymous form and submit it, you will be shown other stories that relate to your own. 
                    The idea being that an alcohol dependent mother of three , who is also bulemic and suffering flash backs from abuse is likely to use different startegies to break her habits than a gambling addict you only feels alive in the casino.
                    Different stories need different healing. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
        