{% extends 'base.html' %} 
{% block content %}
<h3>My Story</h3>
<div class="row">
<label><h5>My Problem</h5></label>

<form action="{{ url_for('myProblem') }}" method="POST"  class="col s12">
<div class="input-field col s12">
    <select name="addiction">      
      <option value="" disabled selected>WHAT IS YOUR ADDICTION?</option>
      <option value="1">Alcohol</option>
      <option value="2">Prescription Drugs</option>
      <option value="3">Illegal Drugs</option>
      <option value="4">Food</option>
      <option value="5">Sex/Porn/Toxic relationships</option>
      <option value="6">Gambling</option>
      <option value="7">Exercise</option>
      <option value="8">Obsession with health</option>
      <option value="9">Attention/Chaos/Drama</option>
      <option value="10">Physical Self Harm</option>
      <option value="11">Thinking Harmful Thoughts</option>
      <option value="12">Fantasy</option>
      <option value="13">Social Media</option>
      <option value="14">Gaming</option>
      <option value="15">Spending</option>
      <option value="16">horoscopes/psychics</option>
      <option value="17">chatlines</option>
    </select>
</div>
<div class="input-field col s12">
    <select name="WHERE DO YOU ACT OUT MOST OFTEN">
      <option value="" disabled selected>WHERE?</option>
      <option value="1">AT HOME</option>
      <option value="2">AT SCHOOL</option>
      <option value="3">AT WORK</option>
      <option value="4">HOTELS/RESTAURANTS</option>
      <option value="5">BARS/CLUBS</option>
      <option value="6">BINGO/CASINO/BETTING SHOPS</option>
      <option value="7">GYM/SPORTS CLUB</option>
      <option value="8">CLINICS/HOSPITALS</option>
      <option value="9">OUTDOORS/PARKS/STREET CORNERS</option>
      <option value="10">CAR/TRANSPORT</option>
    </select>
</div>
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>WHERE</option>
      <option value="1">Isolated at home</option>
      <option value="2">Socially With Friends</option>
      <option value="3">Socially With Strangers</option>
      <option value="4">Socially With Family</option>
      <option value="5">Licensed Premises</option>
      <option value="6">Casino/betting shop</option>
      <option value="7">Gym</option>
      <option value="8">In bed</option>
      <option value="9">School</option>
      <option value="10">In the car/bus/train</option>
      <option value="11">Outdoors</option>
      <option value="12">Anywhere/Everywhere</option>
      <option value="13">At Work</option>

    </select>
    <label>My Problem</label>
  </div>
<div class="input-field col s12">
    <select name="when">
      <option value="" disabled selected>WHEN?</option>
      <option value="1">EVENINGS</option>
      <option value="2">WEEKENDS</option>
      <option value="3">BINGES</option>
      <option value="4">ALL DAY EVERY DAY</option>
      <option value="5">DAYTIMES</option>
      <option value="6">ODD TIMES</option>
    </select>
</div>
<div class="input-field col s12">
    <select name="how">
      <option value="" disabled selected>HOW?</option>
      <option value="1">ORAL</option>
      <option value="2">SNIFFED</option>
      <option value="3">SMOKED</option>
      <option value="4">INJECTED</option>
      <option value="5">VISUAL</option>
      <option value="6">BODILY</option>
      <option value="7">THINKING/IMAGINATIVELY</option>
      <option value="8">EQUIPMENT</option>
      <option value="9">LISTENING</option>

    </select>
</div>
<div class="input-field col s12">
    <select name="why">
      
      <option value="" disabled selected>WHY?</option>
      <option value="1">Alcohol</option>
      <option value="2">Prescription Drugs</option>
      <option value="3">Illegal Drugs</option>
      <option value="4">Food</option>
      <option value="5">Sex/Porn/Toxic relationships</option>
      <option value="6">Gambling</option>
      <option value="7">Exercise</option>
      <option value="8">Obsession with health</option>
      <option value="9">Attention/Chaos/Drama</option>
      <option value="10">Physical Self Harm</option>
      <option value="11">Thinking Harmful Thoughts</option>
      <option value="12">Fantasy</option>
      <option value="13">Social Media</option>
      <option value="14">Gaming</option>

    </select>
</div>
<div class="input-field col s12">
    <select name="WHO">
      
      <option value="" disabled selected>WHO?</option>
      <option value="1">Alcohol</option>
      <option value="2">Prescription Drugs</option>
      <option value="3">Illegal Drugs</option>
      <option value="4">Food</option>
      <option value="5">Sex/Porn/Toxic relationships</option>
      <option value="6">Gambling</option>
      <option value="7">Exercise</option>
      <option value="8">Obsession with health</option>
      <option value="9">Attention/Chaos/Drama</option>
      <option value="10">Physical Self Harm</option>
      <option value="11">Thinking Harmful Thoughts</option>
      <option value="12">Fantasy</option>
      <option value="13">Social Media</option>
      <option value="14">Gaming</option>

    </select>
</div>
<div class="input-field col s12">
    <select name="WHENEVER">
      <option value="" disabled selected>WHENEVER-ARE YOU READY?</option>
      <option value="1">TODAY</option>
      <option value="2">ON MONDAY</option>
      <option value="3">NEXT WEEK</option>
      <option value="4">NEXT MONTH</option>
      <option value="5">IN THE FUTURE</option>
      <option value="6">WHEN A PROBLEM HAS GONE AWAY</option>
    </select>
</div>
<div>
    <div class="input-field col s12">
    <select name="connections">
      <optgroup label="who gave you first time">
        <option value="1">Alone</option>
        <option value="2">someone you trusted</option>
        <option value="3">strangers</option>
        
      </optgroup>
      <optgroup label="who do you use with now">
        <option value="4">Alone</option>
        <option value="5">family</option>
        
        <option value="6">friends</option>
        
        <option value="7">rivals</option>
        <option value="8">work collegues</option>
        
        <option value="9">customers</option>
        <option value="10">adversaries</option>
        <option value="11">acquaintances</option>
        <option value="12">strangers</option>
      </optgroup>
      <optgroup label="who has been most effected">
        <option value="13">you</option>
        <option value="14">family</option>
        <option value="15">Alone</option>
        <option value="16">family</option>
        <option value="17">Alone</option>
        <option value="18">family</option>
      
      </optgroup>
    </select>
    <label>Optgroups</label>
    </div>

    
  </div>
</div>

        <div class="row">
            <div class="switch">
                <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">SUBMIT
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
</form>
</div>


  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://www.edamam.com/web-img/cdb/cdb50c7da0e97996995519e18fcc654a.jpg">
      <!-- <img class="activator" src="<img src="https://www.edamam.com/web-img/cdb/cdb50c7da0e97996995519e18fcc654a.jpg"> -->
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="myProblem">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
          <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://www.edamam.com/web-img/cdb/cdb50c7da0e97996995519e18fcc654a.jpg">
                </div>
                <div class="card-title">
                    <span>The Ultimate Burger</span>
                </div>
                <div class="card-action">
                    <a href="/recipe/5c76b2527ef2701719cc1aff">View Reicpe</a>
                </div>
            </div>

        </div>
{% endblock %}
